{% extends "templates/web.html" %}

{% block page_content %}
    <div class="container mt-5">
        <div class="row">
            <!-- Championship Card -->
            <div class="col-md-12">
                <div class="card">
                    <!-- Static image URL -->
                    <img src= "{{ doc.image }}" class="card-img-top" alt="Championship Image">
                    <div class="card-body">
                        <h2 class="card-title">{{ doc.title or doc.name }}</h2>
                        <p class="card-text">
                            <strong>Description: </strong>{{ doc.description }}
                        </p>
                        <p class="card-text">
                            <strong>Championship Level: </strong>{{ doc.championship_level or 'Championship Level not provided' }}
                        </p>
                        <p class="card-text">
                            <strong>Location: </strong>{{ doc.location or 'Location not provided' }}
                        </p>
                        <p class="card-text">
                            <strong>Date: </strong>{{ doc.date or 'Date not provided' }}
                        </p>
                        <a href="http://127.0.0.1:8000/cham/" class="btn btn-primary">Back to Championships List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
